@{
    ViewData["Title"] = Text["Home_AboutTitle"];
}
<h4>@Text["Home_AboutTitle"]</h4>
<div id="md">
GitCandy is a lightweight, self-hosted Git service migrating to ASP.NET Core 10 MVC, EF Core, and ASP.NET Core Identity.

* [ASP.NET Core](https://github.com/dotnet/aspnetcore) @@ MIT License
* [Bootstrap](https://github.com/twbs/bootstrap) @@ MIT License
* [Bootstrap Switch](https://github.com/Bttstrp/bootstrap-switch) @@ MIT License
* [Highlight.js](https://github.com/highlightjs/highlight.js) @@ BSD License
* [jQuery](https://github.com/jquery/jquery) @@ MIT License
* [marked](https://github.com/markedjs/marked) @@ MIT License
</div>
