GITCANDY_IMAGE=gitcandy:sonnet-vip
GITCANDY_MEMORY_LIMIT=384m
GITCANDY_MEMORY_RESERVATION=128m
GITCANDY_LOCAL_HTTP_PORT=18080
GITCANDY_SSH_PORT=2222
GITCANDY_SONNETDB_TOKEN=replace_with_a_server_side_secret
